{%  extends 'profiladminbase.html.twig' %}
{% block body %}


<section  id="main">
  <div class="container">
    <div class="row">
    <div   class="col-md-9">
    <ol  class="breadcrumb">
        <li class="active">Fichier</li>
      </ol>
          <div style="width: 819px;" class="panel panel-default">



  <div style="margin-right: 1px;margin-left: 0px;" class="row">
    <br/>
  <div style="margin-right:56px;" class="text-right">
  <a href="{{ path('file_new') }}" class="btn btn-info a-btn-slide-text">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span><strong>ajout</strong></span>
    </a>
    <div style="margin-top:-34px;margin-left:56px;width:200px;"class="input-group">
    <input  type="text" placeholder="chercher" name="search" id="search" class="form-control">
    <span class="input-group-btn">
      <button  type="submit" class="btn btn-default" data-original-title="" title=""><i class="glyphicon glyphicon-search"></i></button>
    </span>
    </div>
    </div>
    <br/>
    <table  class="table table-striped" id="employee_table">
      <thead class="thead-dark">
              <tr>
                 <th>Id</th>
                  <th>lien de Fichier</th>
                  <th>Traité</th>
                  <th>Écouter</th>


                <th class="text-danger">Actions</th>
              </tr>
          </thead>
          <tbody>
          {% for file in files %}
                <tr>
                  <td><font color="#428bca">{{ file.id }}</font></td>
                  <td>{{ file.fichierUrl }}</td>
                  <td>{{ file.fichierTraite }}</td>
                  <td>
                    <audio   controls>
                        <source  src="{{ file.fichierUrl }}" type="audio/wav" />
                        </audio>
                    </td>
                          <td>
                            <a href="{{ path('file_show', { 'id': file.id }) }}" class="btn btn-success a-btn-slide-text"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><span><strong> vue</strong></span></a>
                            <a href="{{ path('file_edit', { 'id': file.id }) }}" class="btn btn-primary a-btn-slide-text"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  <span><strong> Modifier</strong></span></a>
                          </td>


              </tr>
          {% endfor %}
          </tbody>
      </table>
      <br/>

  <br/>

  </div>

      </div>
    </div>
    </div>
  </div>
</section>





  <footer id="footer" style="margin-top: 46px;  padding: 6px;">
    <p>Copyright ©2019</p>
  </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="dist/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
           $('#search').keyup(function(){
                search_table($(this).val());
           });
           function search_table(value){
                $('#employee_table tr').each(function(){
                     var found = 'false';
                     $(this).each(function(){
                          if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                          {
                               found = 'true';
                          }
                     });
                     if(found == 'true')
                     {
                          $(this).show();
                     }
                     else
                     {
                          $(this).hide();
                     }
                });
           }
      });
 </script>
	{%  endblock %}
