{%  extends 'profiladminbase.html.twig' %}
{% block body %}


<section id="main">
  <div class="container">
    <div class="row">
    <div  class="col-md-9">
    <ol  class="breadcrumb">
        <li class="active">Fichier</li>
      </ol>

<!--Latest User-->
<div class="panel panel-default">
  <div class="panel-body">




    <div class="row">

            <h1 class="text-primary text-center">Info</h1>
            <div style="margin-left: -2%;width: 87%;padding-right: 5px;" class="col-sm-6 col-sm-offset-3">

             <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ file.id }}</td>
                    </tr>
                    <tr>
                        <th>lien de Fichier</th>
                        <td>{{ file.fichierUrl }}</td>
                    </tr>
                    <tr>
                        <th>Traité</th>
                        <td>{{ file.fichierTraite }}</td>
                    </tr>

                </tbody>
            </table>


    </div>

            <ul class="list-unstyled">
                <li>
                  <a style="font-size: 12px;height: 29px;margin-top:-20px;" href="{{path('file')}}" class="btn btn-default " role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><span><strong> Retour</strong></span>  </a>
                </li>
                <li>
                  <a style="height: 29px;font-size: 11px;padding:4px 11px;" href="{{ path('file_edit', { 'id': file.id }) }}" class="btn btn-primary a-btn-slide-text"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><span><strong> Modifier</strong></span>  </a>
                </li>
                <li>
                    {{ form_start(delete) }}
                    <button style="font-size:9px;height: 30px;margin-top:3px;" class="btn btn-danger a-btn-slide-text" type="submit">
                      <span class="glyphicon glyphicon-remove"></span>
                      <span><strong>Supprimer</strong></span>
                    </button>
                     {{ form_end(delete) }}
                </li>
            </ul>



    </div>














  </div>
</div>

      </div>
    </div>
  </div>
</section>


  <footer id="footer" style="margin-top: 46px;  padding: 6px;">
    <p>Copyright ©2019</p>
  </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="dist/js/bootstrap.min.js"></script>
	{%  endblock %}
